.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list{
  border: 2px solid green;
  width: 0px;
  height: 100%;
}

.map{
  border: 2px solid red;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 1024px){
    .map {
        height: 500px;
    }
}

.header{
  width: 100%;
  height: 40px;
  background-color: #2ed3e3;
  display: flex;
  flex-direction: row;
}

.header h1{
  font-size: 15px;
  width: 85%;
}

.hamburger-container{
  width: 15%;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.hamburger1,.hamburger2,.hamburger3{
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 2px 0;
  border-radius: 3px;
  transition: 0.4s;
}

.display-sidebar,.display-sidebar-increase,.display-sidebar-increase1{
  height: 100%;
  width: 200px;
  position: absolute;
  left: 0px;
  background-color: green;
  transition:all 0.4s;
  top: 40px;
  z-index: 4
}

.hide-sidebar{
  left: -250px;
  transition: 0.4s;
}

.sidebar-input{
  margin-top:60px;
}

.input-field{
  border: transparent;
  border-bottom: 10px solid black;
  transition: all 0.4s;
  
}

.input-field:focus{
  border: 2px solid red;
}

.display-sidebar-increase{
  width: 400px;
}

.listitems{
  color: white;
}
